body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header { 
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: lightgray;
}

main { 
    display: flex;
    justify-content: center;
    padding-top: 75px;
    margin: 20px;
    font-size: 35px;
}

#numbers { 
    display: none;
}

.drop { 
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#menu-button {
    background-color: lightgrey;
    color: white;
    padding: 16px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

#menu-button:hover, #menu-button:focus {
    background-color: grey;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}